@model CmsShopingCard.Models.Data.Brand

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@if (TempData["SM"] != null)
{
    <div class="alert alert-success">
        @TempData["SM"]

    </div>}

@using (Html.BeginForm("Create", "Brand", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Brand</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                @Html.ValidationMessage("BrandName", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group" id="InputImgDiv">
            <div class="form-group">
                <div class="col-md-2">
                    @*<label class="control-label col-md-2" for="ImageUpload" style="width:115px">Brand Image</label>*@
                </div>
                <div class="col-md-10">
                    <div id="InputDiv">
                        <input type="file" name="BrandImage" id="ImageUpload" accept="image/*" />
                    </div>
                    @*<img src="~/AppImg/add-image.png" id="ImgPreview" width="250" height="250" />*@
                    <img src="~/AppImg/41WojpNRS5L.png" id="ImgPreview" width="250" height="250" />

                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@*<script src="~/Scripts/jquery-1.12.4.min.js"></script>*@
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")


    <script>
            //$(function () {

            //    //Preview Selected Image
            //    /////////////////////////////////////////////////////////////////////
            //    function readUrl(input) {
            //        if (input.files && input.files[0]) {
            //            var reader = new FileReader();

            //            reader.onload = function (e) {
            //                $("img#ImgPreview")
            //                    .attr("src", e.target.result)
            //                    .width(200)
            //                    .height(200);
            //            }
            //            reader.readAsDataURL(input.files[0]);
            //        }
            //    }

            //    $("#ImageUpload").change(function () {
            //        readUrl(this);
            //    });

            //});
    </script>
}