@model IEnumerable<CmsShopingCard.Models.Data.Brand>

@{
    ViewBag.Title = "Index";
}

<div class="col-md-offset-1">

</div>
<div class="col-md-10 mx-auto">
    <h2>Brands Of Categories</h2>
    <p class="mt-3">
        <a class="btn form-btn js-create-btn py-2" href="#">Add New brand</a>
    </p>

    @if (!Model.Any())
    {

        <h2>You Have No Brands Yet..</h2>
    }
    else
    {

        <!---Brands Table-->
        <table class=" table-striped table-bordered" id="brands-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ImageName)
                    </th>
                    <th>Controls</th>
                </tr>
            </thead>
            <tbody>
                @*foreach (var item in Model)
                    {
                        <tr id=" id_@item.BrandId">
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <div class="thumbnail" style="width:90px">
                                    <img src="/Images/Uploads/Brands/@item.BrandId/Thumbs/@item.ImageName" width="90" height="90" />
                                </div>
                            </td>
                            <td>
                                <a href="#" class="btn btn-primary edit-brand-btn" data-brand-id="@item.BrandId"><i class=" fas fa-edit"></i></a>

                                <a class="delete-btn btn btn-danger" data-brand-id="@item.BrandId" href="#"><i class="fas fa-trash"></i></a>

                            </td>

                        </tr>
                    }*@
            </tbody>
        </table>
    }

</div>
<div class="col-md-offset-1"></div>


<!-- Sign-Up Model -->
<div class="modal fade" id="client-details">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="orange">Add new Brand</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="client-modal-body">
                <!--Render Partial Here--->
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>




@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var brndsTable;


        /////////===============DataTables CODE=======================
        /////////Get Brand Data As json format for DtataTables

        $(document).ready(function () {
            brndsTable = $('#brands-table').DataTable({
                ajax: {
                    "type": "GET",
                    "url": "/admin/Brand/GetBrands/",
                    "datatype": "json"
                },
                columns: [
                    {
                        data: "ImageName",
                        render: function (ImageName, type, brand) {
                            return `
                                                 <img class='rounded img-thumbnail' src="/Images/Uploads/Brands/${brand.BrandId}/Thumbs/${brand.ImageName}" height='120' width='100'/>
                                        `;
                        }
                    },
                    { data: "Name" },
                    {
                        data: "BrandId",
                        render: function (BrandId, type, brand) {

                            return `
                                            <a href="#" class="btn btn-primary edit-brand-btn" data-brand-id="${brand.BrandId}"><i class=" fas fa-edit"></i></a>
                                            <a class="btn btn-danger delete-btn" data-brand-id="${brand.BrandId}" href="#"><i class="fas fa-trash"></i></a>
                                             `;
                        }
                    }
                ],
                "language": { "emptyTable": "No Product Data Found" },
                "recordsFiltered": 28,
            });
        });


        $(function () {
            // confirm Brand Deletion
            $(document).on("click", "a.delete-btn", function (e) {
                //if (!confirm("Confirm Brand Deletion")) {
                //    return false;
                //}
                e.preventDefault();
                var button = $(this);
                var url = "/admin/Brand/DeleteBrand";

                new duDialog('', 'Are You Sure you want Remove this Brand?', duDialog.OK_CANCEL, {
                    okText: 'Remove',
                    callbacks: {
                        okClick: function () {
                            $.get(url, { id: button.attr("data-brand-id") }, function () {

                                // get a Specific Item <tr> to remove it
                                var trElement = $(this).parents("tr");
                                debugger;
                                //trElement.remove();
                                brndsTable.row(button.parents("tr")).remove().draw();
                            });
                            this.hide();
                        },
                        cancelClick: function () {
                            this.hide();
                        }
                    }
                });
                e.preventDefault();
            });
        });

        function submitFrom(form) {
            var hiddenBrandId = $("#brand-hidden-id").val();
            $.validator.unobtrusive.parse(form);

            if ($(form).valid()) {
                var imgInputFile = $("input#ImageUpload");

                if (imgInputFile[0].files.length === 0 && hiddenBrandId == 0) {
                    $("span#ImageUpload").css("display", "Block");
                    return false;
                } else {

                    if (hiddenBrandId > 0) {
                        editBrand(form);
                    } else {
                        createBrand(form);
                    }

                }
            }
            return false;
        }

        function createBrand(form) {

            $.ajax({
                type: "POST",
                url: "/admin/Brand/CreateByPopup/",
                data: new FormData(form),
                processData: false,
                contentType: false,
                dataType: "text",
                success: function (result) {
                    debugger
                    console.log(result);
                    if (result === "false") {

                        $(".ajax-message span").text("this Name is Taken Before..");
                        $(".ajax-message").addClass("ib");

                        setTimeout(function () {
                            $(".ajax-message span").text("");
                            $(".ajax-message").removeClass("ib");
                        }, 2500);

                    } else if (result === "true") {
                        $(".ajax-message span").text("this Name is Taken Before..");
                        $(".ajax-message").addClass("ib");

                        setTimeout(function () {
                            $(".ajax-message span").text("");
                            $(".ajax-message").removeClass("ib");
                        }, 2500);
                    }
                    else {
                        if (typeof result === 'string') {
                            debugger;
                            $("#client-details").modal("hide");
                            //Notification


                            successNotifiy("Added brand Success");

                        }
                    }
                    brndsTable.ajax.reload();
                },
                error: function (result) {
                    debugger;

                    alert(result);
                }
            });

        }

        function editBrand(form) {
            $.ajax({
                type: "POST",
                url: "/admin/Brand/EditBrandPartial/",
                data: new FormData(form),
                processData: false,
                contentType: false,
                dataType: "text",
                success: function (result) {
                    debugger;
                    console.log(result);
                    if (result === "false") {

                        $(".ajax-message span").text("this Name is Taken Before..");
                        $(".ajax-message").addClass("ib");

                        setTimeout(function () {
                            $(".ajax-message span").text("");
                            $(".ajax-message").removeClass("ib");
                        }, 2500);
                    }
                    else if (result === "true") {

                        $(".ajax-message span").text("this Name is Taken Before..");
                        $(".ajax-message").addClass("ib");

                        setTimeout(function () {
                            $(".ajax-message span").text("");
                            $(".ajax-message").removeClass("ib");
                        }, 2500);
                    }
                    else {
                        if (typeof result === 'string') {
                            debugger;
                            $("#client-details").modal("hide");
                            successNotifiy("Brand Updated success..");

                        }
                    }
                    brndsTable.ajax.reload();
                },
                error: function (result) {
                    debugger;
                    alert(result);
                }
            });

        }


        function successNotifiy(message) {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": true,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "4000",
                "extendedTimeOut": "5000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["success"](message, "E-Shop")
        }

    </script>
}
















