<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin Area</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- fav icon -->
    <link rel="shortcut icon" href="~/Images/shopping-cart.png" />
    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/Content/Templet_Files/css/font-awesome.min.css" />

    <!---Googel Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Sigmar+One&display=swap&subset=latin-ext,vietnamese" rel="stylesheet">

</head>
<body>
    <div class="wrapper">

        <div class="top-navbar">

            <div class="humburger">
                <div></div>
                <div></div>
                <div></div>
            </div>

            <div class="top-menu">
                <div class="logo">DashBoard</div>
                <ul>
                    <li><a href="#"><i class="fa fa-bell"></i></a></li>
                    <li><a href="#"><i class="fa fa-user"></i></a></li>
                    <li><a href="/"><i class="fa fa-sign-out"></i></a></li>

                </ul>
            </div>
        </div>

        <div class="sidebar">
            <ul>
                <li>
                    <a href="/admin/pages" class="activee">
                        <span class="icon">
                            <i class="fa fa-book" aria-hidden="true"></i>
                        </span>
                        <span class="titel">Pages</span>
                    </a>
                </li>
                <li>

                    <a href="/admin/Slider/AddImage">
                        <span class="icon">
                            <i class="fa fa-image" aria-hidden="true"></i>
                        </span>
                        <span class="titel">Slider</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/Shop/Categories">
                        <span class="icon">
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                        </span>
                        <span class="titel">Category</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/shop/orders">
                        <span class="icon">
                            <i class="fa fa-gift" aria-hidden="true"></i>
                        </span>
                        <span class="titel">Orders</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/shop/Products">
                        <span class="icon">
                            <i class="fa fa-product-hunt" aria-hidden="true"></i>
                        </span>
                        <span class="titel">Products</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/Brand/Index">
                        <span class="icon">
                            <i class="fa fa-gift" aria-hidden="true"></i>
                        </span>
                        <span class="titel">Brands</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/Pages/EditSidebar">
                        <span class="icon">
                            <i class="fa fa-window-maximize fa-rotate-90" aria-hidden="true"></i>
                        </span>
                        <span class="titel">Sidbar</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="row main-container">
           
            @RenderBody()

        </div>
    </div>
    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Scripts/DashboardScript.js"></script>

</body>
</html>


