@model IEnumerable<CmsShopingCard.Models.ViewModels.Cart.CartVM>

<link href="~/Scripts/duDialog/duDialog.min.css" rel="stylesheet" />
@{
    /**/

    ViewBag.Title = "Cart Details";
    int count = 1;
}
<div class="container">
    <div class="row">
        <div class="col mt-40">
            <h2>Cart Details</h2>


        </div>
    </div>
</div>
@if (ViewBag.Message != null)
{
    <div class="container" style="min-height: 600px;">
        <div class="row">
            <div class="col mt-10">
                <h3>@ViewBag.Message</h3>
            </div>
        </div>
    </div>
}

else
{


    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto text-center">
                <div class="alert alert-danger" id="qtyMessageDiv" style="visibility:hidden">
                    <span></span>
                </div>
            </div>

        </div>
    </div>


    <br />
    <br />
    <div class="ajaxBG"><span><img src="~/Content/Img/lg.comet-spinner.gif" /></span></div>

    <!-- Cart Page Start -->
    <div class="page-section section pt-30 pb-50" style="">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Cart Table -->
                    <div class="cart-table table-responsive mb-40">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="pro-thumbnail">Image</th>
                                    <th class="pro-title">Name</th>
                                    <th class="pro-price">Price</th>
                                    <!---Inc. Dec. Btn-->
                                    <th class="pro-quantity">Quantity</th>
                                    <th class="pro-subtotal">Total</th>
                                    <th class="pro-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="tr_@item.ProductId" class="product-row">
                                        <td class="pro-thumbnail">
                                            <a href="/Shop/ProductDetails/@item.Slug">
                                                <img class="img-fluid" src="/Images/Uploads/Products/@item.ProductId/Thumbs/@item.Image" width="160" height="160" />
                                            </a>
                                        </td>
                                        <td class="pro-title"><a href="#">@item.ProductName</a></td>
                                        <td class="pro-price"><span>@item.Price</span></td>


                                        <td class="pro-quantity ">
                                            <div class="pro-qty-c">
                                                <a href="#" class="DecrProduct qtybtn" data-id="@item.ProductId">-</a>
                                                <input class="qty@(item.ProductId)" type="text" value="@item.Quantity" readonly>
                                                <a href="#" class="IncrProduct qtybtn" data-id="@item.ProductId">+</a>


                                            </div>
                                        </td>
                                        <td class="total@(item.ProductId) pro-subtotal total-td">
                                            <span>$@Html.DisplayFor(model => item.Total)</span>
                                        </td>

                                        <td class="pro-remove">
                                            <a href="#" class="RemoveProduct" data-id="@item.ProductId">
                                                <i class=" fas fa-trash fa-4x"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="grandtotal">
                                        @*<b>Grand Total: </b>$ <span>@ViewBag.GrandTotal</span>*@
                                        <h2>Grand Total: $<span id="gt-span">@ViewBag.GrandTotal</span></h2>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!----------Paypal GetWay-->
                        <div class="paypalDiv">
                            <form class="paypalForm" action="https://www.sandbox.paypal.com/us/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="Upload" value="1">

                                <input type="hidden" name="business" value="peterSeller@gmail.com">
                                @foreach (var item in Model)
                                {
                                    <input type="hidden" name="item_name_@count" value="@item.ProductName">
                                    <input type="hidden" name="amount_@count" value="@item.Price">
                                    <input type="hidden" name="quantity_@count" value="@item.Quantity">
                                    count++;
                                }

                                <input type="hidden" name="currency_code" value="USD">
                                <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
                            </form>
                        </div>
                        <!----------End Paypal GetWay-->

                        <br />
                        <a href="#" class="placehoder btn pull-right checkout-btn">CkeckOut</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- Cart Page End -->



}
<script src="~/Scripts/duDialog/duDialog.min.js"></script>
@section Scripts{
    <script>


        $(function () {
            ///////////////////////////////////////////////////////////////////////
            //// Increment Products In Cart
            ///////////////////////////////////////////////////////////////////////
            //$("a.IncrProduct").click(function (e) {
            //    e.preventDefault();
            //    var productId = $(this).data("id");
            //    var url = "/cart/IncrementProduct";
            //    $.getJSON(url, { productId: productId }, function (data) {

            //        //Here Price And qty Come From (data) Paramenter Of Action  Method

            //        $("input.qty" + productId).val(data.qty);
            //        var price = data.qty * data.price;
            //        var massage = data.ms;
            //        var priceHtml = "$" + price.toFixed(2);

            //        if (massage !== "") {
            //            NotificationService.errorNotify("Sorry We Dont Have More Of This Item Now.");

            //        } else {
            //            //=====================Increment Grand Total For All Product In Cart
            //            $("td.total" + productId).html(priceHtml);
            //            var gt = parseFloat($("td.grandtotal span").text());
            //            var grandtotal = (gt + data.price).toFixed(2);
            //            $("td.grandtotal span").text(grandtotal);
            //        }

            //        //Done Call Back Function Its work to get a new quantity into Paypal form
            //    }).done(function (e) {
            //        var url2 = "/cart/PaypalPartial";
            //        $.get(url2, {}, function (data) {
            //            $("div.paypalDiv").html(data);
            //        });
            //    });
            //});



            /////////////////////////////////////////////////////////////////////
            // Decrement Products In Cart
            /////////////////////////////////////////////////////////////////////
            $("a.DecrProduct").click(function (e) {
                e.preventDefault();
                var $this = $(this);
                var productId = $(this).data("id");

                var url = "/cart/DecrementProduct";
                $.getJSON(url, { productId: productId }, function (data) {
                    //Remove <td> if qyt was lessthan 1;
                    if (data.qty == 0) {
                        $this.parent().parent().fadeOut("fast", function () {

                            $('#tr_' + productId).hide('slow', function () {
                                $(this).remove();
                            });

                            //want this code to finish task
                            var productRows = $('.product-row');
                            if (productRows.length === 1) {
                                location.reload();
                            }
                        });
                        ///*********
                        var gt = parseFloat($("td.grandtotal h2 span").text());

                        var grandtotal = (gt - data.price).toFixed(2);
                        $("td.grandtotal h2 span").text(grandtotal);
                    }
                    else {

                        //Here Price And qty Come From (data) Paramenter Of Action  Method
                        $("input.qty" + productId).val(data.qty);
                        var price = data.qty * data.price;
                        var priceHtml = "$" + price.toFixed(2);
                        $("td.total" + productId).html(priceHtml);
                        var gt = parseFloat($("#gt-span").text());
                        var gt2 = parseFloat($("#gt-span").val());


                        var grandtotal = (gt - data.price).toFixed(2);
                        $("#gt-span").text(grandtotal);
                    }
                }).done(function (e) {
                    var url2 = "/cart/PaypalPartial";
                    $.get(url2, {}, function (data) {
                        $("div.paypalDiv").html(data);
                    });
                });
            });


            /////////////////////////////////////////////////////////////////////
            // Remove Products In Cart
            /////////////////////////////////////////////////////////////////////
            $("a.RemoveProduct").click(function (e) {

                e.preventDefault();
                var productId = $(this).data("id");
                var url = "/cart/RemoveProduct";

                // External  library called 'duDialog'
                new duDialog('Confirm Dialog', 'Are You Sure you want Remove this Item', duDialog.OK_CANCEL, {
                    okText: 'Remove from Cart',
                    callbacks: {
                        okClick: function () {

                            $.get(url, { productId: productId }, function (data) {
                                //location.reload();

                                //want this code to finish task
                                var productRows = $('.product-row');
                                if (productRows.length === 1) {
                                    location.reload();
                                } else {
                                    $('#tr_' + productId).hide('slow', function () {
                                        $(this).remove();
                                    });
                                }



                            });
                            this.hide();
                        },
                        cancelClick: function () {
                            this.hide();
                        }
                    }
                });

                //$target.hide('slow', function () { $target.remove(); });

                //if (!confirm("You Are Sure You Want Remove This Product From Your Cart")) {
                //    return false;
                //}
                //var $this = $(this);
                //var productId = $(this).data("id");
                //var url = "/cart/RemoveProduct";
                //$.get(url, { productId: productId }, function (data) {
                //    location.reload();
                //});
            });


            /////////////////////////////////////////////////////////////////////
            // Place Order
            /////////////////////////////////////////////////////////////////////
            $("a.placehoder").click(function (e) {
                e.preventDefault();
                debugger;
                var $this = $(this);
                var url = "/cart/PlaceOrder";
                $(".ajaxBG").show();
                $.post(url, {}, function (data) {
                    $(".ajaxBG span").text("thank you, You Will Redirected To Paypal..");
                    setTimeout(function () {
                        $("form input[name='submit']").click();
                    }, 2000);
                });
            });
            /////////////////////////////////////////////////////////////////////
        });


    </script>
}