@model IEnumerable<CmsShopingCard.Models.ViewModels.Cart.CartVM>

<link href="~/Scripts/duDialog/duDialog.min.css" rel="stylesheet" />
@{
    /**/

    ViewBag.Title = "Cart Details";
    int count = 1;
}
<div class="container">
    <div class="row">
        <div class="col mt-40">
            <h2>Cart Details</h2>


        </div>
    </div>
</div>
@if (ViewBag.Message != null)
{
    <div class="container" style="min-height: 600px;">
        <div class="row">
            <div class="col mt-10">
                <h3>@ViewBag.Message</h3>
            </div>
        </div>
    </div>
}

else
{


    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto text-center">
                <div class="alert alert-danger" id="qtyMessageDiv" style="visibility:hidden">
                    <span></span>
                </div>
            </div>

        </div>
    </div>


    <br />
    <br />
    <div class="ajaxBG"><span><img src="~/Content/Img/lg.comet-spinner.gif" /></span></div>

    <!-- Cart Page Start -->
    <div class="page-section section pt-30 pb-50" style="">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Cart Table -->
                    <div class="cart-table table-responsive mb-40">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="pro-thumbnail">Image</th>
                                    <th class="pro-title">Name</th>
                                    <th class="pro-price">Price</th>
                                    <!---Inc. Dec. Btn-->
                                    <th class="pro-quantity">Quantity</th>
                                    <th class="pro-subtotal">Total</th>
                                    <th class="pro-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="tr_@item.ProductId" class="product-row">
                                        <td class="pro-thumbnail">
                                            <a href="/Shop/ProductDetails/@item.Slug">
                                                <img src="/Images/Uploads/Products/@item.ProductId/Thumbs/@item.Image" width="160" height="160" />
                                            </a>
                                        </td>
                                        <td class="pro-title"><a href="#">@item.ProductName</a></td>
                                        <td class="pro-price"><span>@item.Price</span></td>


                                        <td class="pro-quantity ">
                                            <div class="pro-qty-c">
                                                <a href="#" class="DecrProduct qtybtn" data-id="@item.ProductId">-</a>
                                                <input class="qty@(item.ProductId)" type="text" value="@item.Quantity" readonly>
                                                <a href="#" class="IncrProduct qtybtn" data-id="@item.ProductId">+</a>


                                            </div>
                                        </td>
                                        <td class="total@(item.ProductId) pro-subtotal total-td">
                                            <span>$@Html.DisplayFor(model => item.Total)</span>
                                        </td>

                                        <td class="pro-remove">
                                            <a href="#" class="RemoveProduct" data-id="@item.ProductId">
                                                <i class=" fas fa-trash fa-4x"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="grandtotal" style="font-weight:bolder">
                                        <b>Grand Total: </b>$ <span>@ViewBag.GrandTotal</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!----------Paypal GetWay-->
                        <div class="paypalDiv">
                            <form class="paypalForm" action="https://www.sandbox.paypal.com/us/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="Upload" value="1">

                                <input type="hidden" name="business" value="peterSeller@gmail.com">
                                @foreach (var item in Model)
                                {
                                    <input type="hidden" name="item_name_@count" value="@item.ProductName">
                                    <input type="hidden" name="amount_@count" value="@item.Price">
                                    <input type="hidden" name="quantity_@count" value="@item.Quantity">
                                    count++;
                                }

                                <input type="hidden" name="currency_code" value="USD">
                                <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
                            </form>
                        </div>
                        <!----------End Paypal GetWay-->

                        <br />
                        <a href="#" class="placehoder btn pull-right checkout-btn">CkeckOut</a>
                    </div>


                    @*<div class="row">

                            <div class="col-lg-6 col-12 mb-15">
                                <!-- Calculate Shipping -->
                                <div class="calculate-shipping">
                                    <h4>Calculate Shipping</h4>
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-md-6 col-12 mb-25">
                                                <select class="nice-select">
                                                    <option>Bangladesh</option>
                                                    <option>China</option>
                                                    <option>country</option>
                                                    <option>India</option>
                                                    <option>Japan</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 col-12 mb-25">
                                                <select class="nice-select">
                                                    <option>Dhaka</option>
                                                    <option>Barisal</option>
                                                    <option>Khulna</option>
                                                    <option>Comilla</option>
                                                    <option>Chittagong</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 col-12 mb-25">
                                                <input type="text" placeholder="Postcode / Zip">
                                            </div>
                                            <div class="col-md-6 col-12 mb-25">
                                                <input type="submit" value="Estimate">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- Discount Coupon -->
                                <div class="discount-coupon">
                                    <h4>Discount Coupon Code</h4>
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-md-6 col-12 mb-25">
                                                <input type="text" placeholder="Coupon Code">
                                            </div>
                                            <div class="col-md-6 col-12 mb-25">
                                                <input type="submit" value="Apply Code">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!-- Cart Summary -->
                            <div class="col-lg-6 col-12 mb-40 d-flex">
                                <div class="cart-summary">
                                    <div class="cart-summary-wrap">
                                        <h4>Cart Summary</h4>
                                        <p>Sub Total <span>$1250.00</span></p>
                                        <p>Shipping Cost <span>$00.00</span></p>
                                        <h2>Grand Total <span>$1250.00</span></h2>
                                    </div>
                                    <div class="cart-summary-button">
                                        <button class="checkout-btn">Checkout</button>
                                        <button class="update-btn">Update Cart</button>
                                    </div>
                                </div>
                            </div>

                        </div>*@

                </div>
            </div>
        </div>
    </div>
    <!-- Cart Page End -->







    @*<div class="alert alert-danger" id="qtyMessageDiv" style="display:none">
            <span></span>
        </div>
        <br />
        <br />
        <div class="ajaxBG"><span><img src="~/Content/Img/lg.comet-spinner.gif" /></span></div>
        <table class="table">
            <tr>
                <th>
                    Image
                </th>
                <th>
                    Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>

                <th>

                </th>
                <th>
                    Total
                </th>
                <th>

                </th>
                <th>

                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="/Images/Uploads/Products/@item.ProductId/Thumbs/@item.Image" width="160" height="160" />
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>

                    <td class="qty@(item.ProductId)" align="center" style="font-weight: bold;font-size: 17px;">
                        <strong>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </strong>
                    </td>

                    <td>
                        $@Html.DisplayFor(modelItem => item.Price)
                    </td>

                    <td>
                        <a href="#" class="IncrProduct btn btn-default" data-id="@item.ProductId"><i class="fa fa-plus" style="color:forestgreen"></i></a>
                        <a href="#" class="DecrProduct btn btn-default" data-id="@item.ProductId"><i class="fa fa-minus" style="color:red"></i></a>
                    </td>

                    <td class="total@(item.ProductId)">
                        $@Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        <a href="#" class="RemoveProduct btn btn-danger" data-id="@item.ProductId"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="grandtotal" style="font-weight:bolder">
                    <b>Grand Total: </b>$ <span>@ViewBag.GrandTotal</span>
                </td>
            </tr>
        </table>
        <div class="paypalDiv">
            <form class="paypalForm" action="https://www.sandbox.paypal.com/us/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="Upload" value="1">

                <input type="hidden" name="business" value="peterSeller@gmail.com">
                @foreach (var item in Model)
                {
                    <input type="hidden" name="item_name_@count" value="@item.ProductName">
                    <input type="hidden" name="amount_@count" value="@item.Price">
                    <input type="hidden" name="quantity_@count" value="@item.Quantity">
                    count++;
                }

                <input type="hidden" name="currency_code" value="USD">
                <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
            </form>
        </div>
        <br />
        <a href="#" class="placehoder btn btn-primary pull-right">CkeckOut</a>*@
}
<script src="~/Scripts/duDialog/duDialog.min.js"></script>
@section Scripts{
    <script>


        $(function () {
            ///////////////////////////////////////////////////////////////////////
            //// Increment Products In Cart
            ///////////////////////////////////////////////////////////////////////
            //$("a.IncrProduct").click(function (e) {
            //    e.preventDefault();
            //    var productId = $(this).data("id");
            //    var url = "/cart/IncrementProduct";
            //    $.getJSON(url, { productId: productId }, function (data) {

            //        //Here Price And qty Come From (data) Paramenter Of Action  Method

            //        $("input.qty" + productId).val(data.qty);
            //        var price = data.qty * data.price;
            //        var massage = data.ms;
            //        var priceHtml = "$" + price.toFixed(2);

            //        if (massage !== "") {
            //            NotificationService.errorNotify("Sorry We Dont Have More Of This Item Now.");

            //        } else {
            //            //=====================Increment Grand Total For All Product In Cart
            //            $("td.total" + productId).html(priceHtml);
            //            var gt = parseFloat($("td.grandtotal span").text());
            //            var grandtotal = (gt + data.price).toFixed(2);
            //            $("td.grandtotal span").text(grandtotal);
            //        }

            //        //Done Call Back Function Its work to get a new quantity into Paypal form
            //    }).done(function (e) {
            //        var url2 = "/cart/PaypalPartial";
            //        $.get(url2, {}, function (data) {
            //            $("div.paypalDiv").html(data);
            //        });
            //    });
            //});



            /////////////////////////////////////////////////////////////////////
            // Decrement Products In Cart
            /////////////////////////////////////////////////////////////////////
            $("a.DecrProduct").click(function (e) {
                e.preventDefault();
                var $this = $(this);
                var productId = $(this).data("id");

                var url = "/cart/DecrementProduct";
                $.getJSON(url, { productId: productId }, function (data) {

                    if (data.qty == 0) {
                        $this.parent().parent().fadeOut("fast", function () {
                            //location.reload();

                            $('#tr_' + productId).hide('slow', function () {
                                $(this).remove();
                            });

                            var productRows = $('.product-row');
                            if (productRows.length === 1) {
                                location.reload();
                            }
                        });
                    }
                    else {
                        //Here Price And qty Come From (data) Paramenter Of Action  Method
                        $("input.qty" + productId).val(data.qty);
                        var price = data.qty * data.price;
                        var priceHtml = "$" + price.toFixed(2);
                        $("td.total" + productId).html(priceHtml);
                        var gt = parseFloat($("td.grandtotal span").text());
                        var grandtotal = (gt - data.price).toFixed(2);
                        $("td.grandtotal span").text(grandtotal);
                    }
                }).done(function (e) {
                    var url2 = "/cart/PaypalPartial";
                    $.get(url2, {}, function (data) {
                        $("div.paypalDiv").html(data);
                    });
                });
            });


            /////////////////////////////////////////////////////////////////////
            // Remove Products In Cart
            /////////////////////////////////////////////////////////////////////
            $("a.RemoveProduct").click(function (e) {

                e.preventDefault();
                var productId = $(this).data("id");
                var url = "/cart/RemoveProduct";


                // External  library called 'duDialog'
                new duDialog('Confirm Dialog', 'Are You Sure you want Remove this Item', duDialog.OK_CANCEL, {
                    okText: 'Remove from Cart',
                    callbacks: {
                        okClick: function () {

                            $.get(url, { productId: productId }, function (data) {
                                //location.reload();

                                $('#tr_' + productId).hide('slow', function () {
                                    $(this).remove();
                                });


                            });
                            this.hide();
                        },
                        cancelClick: function () {
                            this.hide();
                        }
                    }
                });

                //$target.hide('slow', function () { $target.remove(); });

                //if (!confirm("You Are Sure You Want Remove This Product From Your Cart")) {
                //    return false;
                //}
                //var $this = $(this);
                //var productId = $(this).data("id");
                //var url = "/cart/RemoveProduct";
                //$.get(url, { productId: productId }, function (data) {
                //    location.reload();
                //});
            });


            /////////////////////////////////////////////////////////////////////
            // Place Order
            /////////////////////////////////////////////////////////////////////           
            $("a.placehoder").click(function (e) {
            e.preventDefault();
            debugger;
            var $this = $(this);
            var url = "/cart/PlaceOrder";
            $(".ajaxBG").show();
            $.post(url, {}, function (data) {
                $(".ajaxBG span").text("thank you, You Will Redirected To Paypal..");
                setTimeout(function () {
                    $("form input[name='submit']").click();
                }, 2000);
            });
        });
                /////////////////////////////////////////////////////////////////////
        });


    </script>
}