@model IEnumerable<CmsShopingCard.Areas.Admin.ViewModels.Shop.OrdersForAdmin>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

@if (!Model.Any())
{
    <h2>There Are No Orders..</h2>
}
else
{
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    Order Number
                </th>
                <th>
                    UserName
                </th>
                <th>
                    Order Details
                </th>

                <th>
                    Created At
                </th>
                <th>
                    Total
                </th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @foreach (var item2 in item.ProductAndQuantity)
                    {
                            @item2.Key @:x @item2.Value <br />
                    }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>

                </tr>
            }

        </tbody>

    </table>

}


@section scripts{

    <script>
      

        $(document).ready(function () {
            $('#myTable').DataTable();
        });

    </script>
}