
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>E-SHOP HTML Template</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href=@Url.Content("/Content/Templet_Files/css/bootstrap.min.css")>

    <!-- Slick -->
    <link rel="stylesheet" href="~/Content/Templet_Files/css/slick.css" />
    <link rel="stylesheet" href="~/Content/Templet_Files/css/slick-theme.css" />

    <!-- nouislider -->
    <link rel="stylesheet" href="~/Content/Templet_Files/css/slick-theme.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/Content/Templet_Files/css/font-awesome.min.css" />

    <!-- Custom stlylesheet -->
    <link rel="stylesheet" href="~/Content/Templet_Files/css/style.css" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <title>@ViewBag.Title -CmsShopingCart</title>

</head>

<body>
    <!-- HEADER -->
    <header>
        <!-- top Header -->
        <div id="top-header">
            <div class="container">
                <div class="pull-left">
                    <span>Welcome to E-shop!</span>
                </div>
                <div class="pull-right">
                    <ul class="header-top-links">
                        <li><a href="#">Store</a></li>
                        <li><a href="#">Newsletter</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li class="dropdown default-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">ENG <i class="fa fa-caret-down"></i></a>
                            <ul class="custom-menu">
                                <li><a href="#">English (ENG)</a></li>
                                <li><a href="#">Russian (Ru)</a></li>
                                <li><a href="#">French (FR)</a></li>
                                <li><a href="#">Spanish (Es)</a></li>
                            </ul>
                        </li>
                        <li class="dropdown default-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">USD <i class="fa fa-caret-down"></i></a>
                            <ul class="custom-menu">
                                <li><a href="#">USD ($)</a></li>
                                <li><a href="#">EUR (€)</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /top Header -->
        <!-- header -->
        <div id="header">
            <div class="container">
                <div class="pull-left">
                    <!-- Logo -->
                    <div class="header-logo">
                        <a class="logo" href="/home">
                            <img src="~/Content/Templet_Files/img/logo.png" />
                        </a>
                    </div>
                    <!-- /Logo -->
                    <!-- Search -->
                    <div class="header-search">
                        @using (Html.BeginForm("Search", "Shop", FormMethod.Post))
                        {
                            <input class="input search-input" name="searchText" type="text" placeholder="Enter your keyword">
                            <button class="search-btn"><i class="fa fa-search"></i></button>
                        }

                    </div>
                    <!-- /Search -->
                </div>
                <div class="pull-right">
                    <ul class="header-btns">
                        <!-- Account -->

                        <li class="header-account dropdown default-dropdown">
                            <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                                <div class="header-btns-icon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <strong class="text-uppercase">My Account</strong>
                            </div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                @Html.Action("UserNavPartial", "Account")
                            }
                            else
                            {
                                <a href="/account/login" class="text-uppercase">Login</a><strong> / </strong><a href="/account/create-account" class="text-uppercase">Join</a>
                            }
                            <ul class="custom-menu">

                                @if (User.Identity.IsAuthenticated)
                                {
                                    if (User.IsInRole("User"))
                                    {
                                        <li><a href="/account/Orders"><i class="fa fa-gift"></i> My Orders</a></li>

                                    }
                                    <li><a href="/account/LogOut"><i class="fa fa-sign-out"></i> Logout</a></li>
                                    <li><a href="/account/user-profile"><i class="fa fa-user"></i> My Account</a></li>
                                }
                                <li><a href="/account/create-account"><i class="fa fa-user-plus"></i> Create An Account</a></li>

                            </ul>
                        </li>

                        <!-- /Account -->
                        <!-- Cart -->
                        @if (!User.IsInRole("Admin") && User.Identity.IsAuthenticated)
                        {
                            @Html.Action("CardPartial", "Cart")
                        }
                        else if(User.IsInRole("Admin") && User.Identity.IsAuthenticated)
                        {
                            <li>
                                <h2>
                                    <a href="/Admin/DashBoard/Index">Admin Area</a>
                                </h2>
                            </li>

                        }
                        <!-- /Cart -->
                        <!-- Mobile nav toggle-->
                        <li class="nav-toggle">
                            <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
                        </li>
                        <!-- / Mobile nav toggle -->
                    </ul>
                </div>
            </div>
            <!-- header -->
        </div>
        <!-- container -->
    </header>
    <!-- /HEADER -->
    <!-- NAVIGATION -->
    <div id="navigation">
        <!-- container -->
        <div class="container">
            <div id="responsive-nav">
                <!-- category nav -->
                <div class="category-nav">
                    <span class="category-header">Categories <i class="fa fa-list"></i></span>
                    <ul class="category-list">
                        @Html.Action("CategoryMenuPartial", "Shop")
                    </ul>
                </div>
                <!-- /category nav -->
                <!-- menu nav -->
                <div class="menu-nav">
                    <span class="menu-header">Menu <i class="fa fa-bars arrow_categorymenu"></i></span>
                    <ul class="menu-list">
                        @Html.Action("PagesMenuPartial", "Pages")

                    </ul>
                </div>
                <!-- menu nav -->
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /NAVIGATION -->
    <!-- HOME -->
    <div id="home" class="Render_Body">
        <!-- container -->
        <main class="container-fliud wrapper-content">
            <div class="row">
                @if (ViewBag.Siedbar == "Yes")
                {
                    <div class="col-xs-2 col-md-2">
                        @*@Html.Action("SidebarPartial", "Pages")*@
                    </div>
                    <div class="col-xs-8 col-md-8">
                        <!---Begin-->
                        @RenderBody()
                        <!---end-->

                    </div>
                    <div class="col-xs-2 col-md-2">
                        @Html.Action("SidebarPartial", "Pages")
                    </div>
                }
                else
                {
                    @RenderBody()
                }

            </div>

        </main>
        <!-- /container -->
          <div class="container-fliud">
            <!-- =======================Slider Section================== -->
            @Html.Action("GetProductByCategory", "Shop");
            <!-- ======================= End-Slider Section================== -->
        </div>

        

    </div>
    <!-- /HOME -->
    <!-- section -->
    <!-- FOOTER -->
    <footer id="footer" class="section section-grey">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- footer widget -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="footer">
                        <!-- footer logo -->
                        <div class="footer-logo">
                            <a class="logo" href="#">
                                <img src="~/Content/Templet_Files/img/logo.png" />
                            </a>
                        </div>
                        <!-- /footer logo -->

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>

                        <!-- footer social -->
                        <ul class="footer-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                        <!-- /footer social -->
                    </div>

                </div>
                <!-- /footer widget -->
                <!-- footer widget -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-header">My Account</h3>
                        <ul class="list-links">
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Compare</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Login</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /footer widget -->

                <div class="clearfix visible-sm visible-xs"></div>

                <!-- footer widget -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-header">Customer Service</h3>
                        <ul class="list-links">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Shiping & Return</a></li>
                            <li><a href="#">Shiping Guide</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /footer widget -->
                <!-- footer subscribe -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-header">Stay Connected</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <form>
                            <div class="form-group">
                                <input class="input" placeholder="Enter Email Address">
                            </div>
                            <button class="primary-btn">Join Newslatter</button>
                        </form>
                    </div>
                </div>
                <!-- /footer subscribe -->
            </div>
            <!-- /row -->
            <hr>
            <!-- row -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <!-- footer copyright -->
                    <div class="footer-copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <!-- /footer copyright -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </footer>
    <!-- /FOOTER -->
    <!-- jQuery Plugins -->
    @*<script src="~/Content/Templet_Files/js/jquery.min.js"></script>*@

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
    <script src="~/Content/Templet_Files/js/bootstrap.min.js"></script>
    <script src="~/Content/Templet_Files/js/slick.min.js"></script>
    <script src="~/Content/Templet_Files/js/nouislider.min.js"></script>
    <script src="~/Content/Templet_Files/js/jquery.zoom.min.js"></script>
    <script src="~/Content/Templet_Files/js/main.js"></script>

</body>

</html>












@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title -CmsShopingCart</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/Templet_Files/style.css" rel="stylesheet" />
    </head>
    <body>

        <header>
            <!-- header -->
            <div id="header">
                <div class="row" style="width: 90%;margin: auto;">
                    <div class="pull_left col-md-3">
                        <!--Logo-->
                        <div class="header-logo">
                            <a class="logo" href="/">
                                <img src="~/Content/Img/logo.png" >
                            </a>
                        </div>
                        <!--/Logo-->
                        <!-- Search -->
                        <div class="header-search">
                        </div>
                        <!-- /Search -->
                    </div>
                    <div class="col-md-4"></div>
                    <!--PULL-RIGHT-->
                    <div class="pull-right col-md-5">
                        <ul class="header-btns">
                            <!-- Account -->
                            <li class="header-account dropdown default-dropdown">
                                <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                                    <div class="header-btns-icon">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </div>
                                    <strong class="text-uppercase">My Account <i class="fa fa-caret-down"></i></strong>
                                </div>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @Html.Action("UserNavPartial", "Account")
                                }
                                else
                                {
                                    <a href="/account/login" class="text-uppercase">Login</a>  <a href="/account/create-account" class="text-uppercase">Join</a>

                                }
                                <ul class="custom-menu">
                                    <li><a href="/account/user-profile"><i class="glyphicon glyphicon-user"></i> My Account</a></li>
                                    <li><a href="/account/Orders"><i class="glyphicon glyphicon-gift"></i> My Orders</a></li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li><a href="/account/LogOut"><i class="glyphicon glyphicon-off"></i> Logout</a></li>

                                    }
                                    <li><a href="/account/create-account"><i class="glyphicon glyphicon-plus-sign"></i> New Account</a></li>
                                </ul>
                            </li>
                            <!-- /Account -->
                            <li class="header-cart dropdown default-dropdown open">
                                @Html.Action("CardPartial", "Cart")
                            </li>

                            <!-- Mobile nav toggle-->
                            <li class="nav-toggle">
                                <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
                            </li>
                            <!-- / Mobile nav toggle -->
                        </ul>
                    </div>
                    <!--/PULL-RIGHT-->

                </div>
            </div>
        </header>
        <!-- NAVIGATION -->
        <div id="navigation">
            <!-- container -->
            <div style="width: 90%;margin: auto;">
                <div id="responsive-nav">
                    <!-- category nav -->
                    <div class="category-nav">
                        <span class="category-header">Categories <i class="glyphicon glyphicon-tasks"></i></span>
                        <ul class="category-list" style="display: none;">
                            @Html.Action("CategoryMenuPartial", "Shop")
                        </ul>
                    </div>
                    <!-- /category nav -->
                    <!-- menu nav -->
                    <div class="menu-nav">
                        <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
                        <ul class="menu-list">
                            @Html.Action("PagesMenuPartial", "Pages")
                        </ul>
                    </div>
                    <!-- menu nav -->
                </div>
            </div>
            <!-- /container -->
        </div>
        <!-- /NAVIGATION -->
        <div class="container Render_Body">
            <div class="row">
                @RenderBody()
            </div>
            @if (ViewBag.PageTitel == "Home")
            {
                <div class="row">
                    @Html.Action("GetProductByCategory", "Shop")
                </div>
            }

        </div>

        @Scripts.Render("~/bundles/scripts")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@




