@model IEnumerable<CmsShopingCard.Models.Data.Category>

@*@foreach (var item in Model)
    {
        if (item.Products.Count > 0)
        {
            <div class="panel panel-info">
                <div class="panel-heading"><h1>@item.Name</h1></div>

                <div class="row panel-body products__display">

                    @foreach (var subItem in item.Products)
                    {
                            <!-- Product Single -->
                        <div class=" col-md-3 product product-single">
                            <div class="product-thumb">
                                <a id="quick_btn" onclick="quickViewFunction(@subItem.Id)" class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</a>
                                <img src="/Images/Uploads/Products/@subItem.Id/Thumbs/@subItem.ImageName" />
                            </div>
                            <div class="product-body">
                                <h3 class="product-price">$@subItem.Price</h3>

                                <h2 class="product-name"><a href="/Shop/product-details/@subItem.Slug">@subItem.Name</a></h2>
                                <div class="product-btns">
                                    <a href="" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>
                        </div>
                            <!-- /Product Single -->
                    }
                </div>
            </div>
        }
    }*@

<div class="col-md-12">
    @foreach (var category in Model)
    {
        if (category.Products.Count() > 0)
        {
            <div class="page-wrapper row">
                <div class="post-slider ">
                    <h1 class="slider-titel">
                        <a href="/shop/category?categoryName=@category.Slug">@category.Name</a>
                    </h1>
                    <!-- غير هنا اسم الكلاس عن طريق id -->
                    <!--علشان يكون كل واحد مستقل للفئة بتعتها -->
                    <i class="fa fa-chevron-left prev prev_@category.Id"></i>
                    <i class="fa fa-chevron-right next next_@category.Id"></i>

                    <div class="post-wrapper post_@category.Id">

                        @for (int i = 0; i < category.Products.Count(); i++)
                    {
                         <!--One Single Product-->
                            <div class="post">
                                <div class="btnDiv">
                                    <a id="quick_btn" onclick="quickViewFunction(@category.Products.ToArray()[i].Id)" class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</a>
                                </div>

                                <img class="slider-img" src="/Images/Uploads/Products/@category.Products.ToArray()[i].Id/Thumbs/@category.Products.ToArray()[i].ImageName" />
                                <div class="post-info">
                                    <h5 class="product-name"><a href="/Shop/product-details/@category.Products.ToArray()[i].Slug">@category.Products.ToArray()[i].Name</a></h5>
                                    <h4>$@category.Products.ToArray()[i].Price</h4>
                                    @*<a href="" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i>Add to Cart</a>*@
                                </div>

                            </div>
                            if (i == 10)
                            {
                                break;
                            }
                    <!--/One Single Product-->
                        }

                    </div>

                </div>
            </div>
        }

    }

</div>


<!--Model Poup-->
<div class="modal fade" id="MyModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Model Header-->
            <div class="modal-header">
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="fa fa-window-close fa-lg" style="color: #ff4040;"></span></a>
                <h3 class="modal-title">Quick View to Product</h3>
            </div>
            <!--/Model Header-->
            <!--Model Body-->
            <div class="modal-body" id="MyModel_BodyDiv">

            </div>
            <!--/Model Body-->

        </div>
    </div>
</div>
@*<script src="~/Scripts/jquery-1.12.4.min.js"></script>*@
@*<script src="~/Scripts/MyJavaScript.js"></script>*@
<!--/Model Poup-->
@*<link href="~/Content/Templet_Files/css/style.css" rel="stylesheet" />*@