@model CmsShopingCard.Models.ViewModels.Shop.ProductVM

@*@Html.HiddenFor(model => model.Quantity, new { id = "product-quantity-hidden" })

@Html.HiddenFor(model => model.Id, new { id = "product-id-hidden" })*@

<link href="~/Content/newTemplet/css/style.css" rel="stylesheet" />
<div class="container-fluid">

    <div class="row">

        <!--Image col-->
        <div class="col-md-4 Q-view-col-one">
            <img src="/Images/Uploads/Products/@Model.Id/Thumbs/@Model.ImageName" class="img-fluid">
        </div>
        <!--End Image col-->

        <div class="col-md-4 Q-view-col-tow">

            <h4 class="Q-view-name">@Model.Name</h4>

            @if (Model.Quantity < 1)
            {
                <p class="outOfStock txtcolor-alert">
                    This item is currently out of stock
                </p>
            }
            else if (Model.Quantity < 10)
            {
                <p class="outOfStock txtcolor-alert">
                    Order now, only <span>@Model.Quantity</span> left in stock!
                </p>
            }

            @*<h3 class="cost"><span class="fa fa-usd fa-1x"></span>@Model.Price</h3>*@
            <h5 class="price">$@Model.Price</h5>           

        </div>

        <div class="col-md-4 Q-view-col-three">


            <div class="single-product-content">

                <!-- Category & Title -->
                <div class="head-content">


                </div>

                <div class="single-product-description">



                    <!--Alert Message-->
                    <div class="alert alert-danger ajax-message text-center font-weight-bold" style="display:none">
                        <span></span>
                    </div>
                    <!--End Alert Message-->

                    <div class="quantity-colors">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="quantity">
                                <h5>Quantity</h5>
                                <div class="pro-qty">
                                    <input id="qty-input" type="number" value="1" min="1" max="@Model.Quantity" data-old-val="" data-max-value="@Model.Quantity">

                                </div>
                            </div>
                        }

                        <div class="colors">
                            <h5>Color</h5>
                            <select class="nice-select" style="display: none;">
                                <option>red</option>
                                <option>black</option>
                                <option>yellow</option>
                                <option>grey</option>
                            </select><div class="nice-select" tabindex="0"><span class="current">red</span><ul class="list"><li data-value="red" class="option selected">red</li><li data-value="black" class="option">black</li><li data-value="yellow" class="option">yellow</li><li data-value="grey" class="option">grey</li></ul></div>
                        </div>

                    </div>

                    <div class="actions">                      

                        <a href="#" class="add-to-cart addToCard" data-product-id="@Model.Id"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a>

                        <div class="wishlist-compare">
                            <a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                            <a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>

    <!--Btn Row-->

    <div class="row Q-view-disc-row">

        <div class="wrapper-description">
            <p>@Html.Raw(Model.Description)</p>

        </div>


    </div>

</div>

@section Scripts{

    @*@Scripts.Render("~/bundles/quickView")*@


    <script>

        $("#btn_cart").click(function (e) {
            e.preventDefault();
            debugger;
            var url = "/Cart/AddToCartPartial";
            $.get(url, { id:@Model.Id} ,function(data){
                debugger;
                $(".ajaxCart").html(data);
            }).done(function(){
                $("span.loader").removeClass("ib");
                $("span.ajaxMS").addClass("ib");

                setTimeout(function(){
                    $("span.ajaxMS").fadeOut("fast");
                    $("span.ajaxMS").removeClass("ib");
                },1500);
            });

        });
    
    </script>
}